[2021-12-12 21:08] Collatz124 opened #31 "What exactly does the hl themes do?"
This is not really an issue, however I seem to have miss understood something when I created the Monekai theme. What exactly is the role of the hl part of a theme (I thought that it exclusively influenced the way that the UI looked, ie. not syntax highlighting), however i can not seem to figure out why the base feilds in the dictionary is colored aswell as the commas?

![Screenshot from 2021-12-12

[2021-12-13 01:01] siduck commented on #31
the hl_themes are used for highlighting statusline  ,bufferline etc . check lua/colors/highlights.lua  , lua/plugins/bufferline , lua/plugins/statusline. 3 of these files use colors from the hl_themes

[2021-12-13 07:06] Collatz124 commented on #31
I found the mistake in the configuration of the Monekai theme, completely my bad :sweat_smile:, ill summit a pull request layer :)

Thank you.

[2021-12-13 07:27] #31 closed

[2022-03-11 05:38] rambhosale opened #48 "feature to override a specific color for a theme"
For a particular theme like onebright I like the overall theme but I want to override a specific color like something similar to the following
eg
[code]
Currently, there is no direct feature or a way to achieve it from what I know
would really love to have this option

[2022-03-29 13:25] primeapple opened #52 "Add actual Dracula theme"
Hey,

After trying out the `chadracula` theme for some time I came to realize that I don't like it as much as the original one. Sorry :(
Is there a way to add the original dracula theme back to the repo?

This one seems to be the source: https://github.com/dracula/vim

[2022-03-29 13:49] primeapple opened #53 "Issue with Latex files when Treesitter is enabled"
Hi, thanks for the awesome theme picker.

I'm currently writing my thesis in Latex and am not able to install Treesitter, as the highlighting becomes unusable:

I use chadracula, as well as [vimtex](https://github.com/lervag/vimtex).
As a reference I used the original Dracula theme: https://github.com/dracula/vim

Just Chadracula (not dracula at all, but usable)
<img width="344" alt="no_ts_chadrac

[2022-03-29 14:23] siduck commented on #53
u can improve the chadracula and make it look like dracula

[2022-03-29 15:12] primeapple commented on #53
The issue with Treesitter in latex is present for *all* themes.
It is not an issue with `vimtex` I just tested it.

[2022-03-30 01:46] siduck commented on #52
that wasnt really dracula, too much purple used. Yes make a PR for this

[2022-03-30 01:47] siduck commented on #53
do u get this issue with lunarvim?

[2022-03-30 05:18] primeapple commented on #53
I don't use lunarvim, so no Idea :grin:

[2022-03-30 06:49] siduck commented on #53
try with it then ._.

[2022-04-03 10:28] primeapple commented on #53
So I post a bug with this repo. You ask me to check if it occurs on $OTHER_UNRELATED_REPO.

Could you please at least explain, in more than a single sentence, why I should go through the process of installing and trying Lunarvim, when the issue is in THIS repo?

[2022-04-03 12:52] siduck commented on #53
it might be a pain to prepare a minimal config to test this so i suggested trying the error on lunarvim as its pre-setup, it'd give me a general idea if this issue's nvchad only or not

[2022-04-30 09:39] i3Cheese opened #56 "Not all themes converted to 0.7"
Please, convert the following themes
[kanagawa-base16.lua](https://github.com/NvChad/nvim-base16.lua/blob/master/lua/themes/kanagawa-base16.lua)
[onebright-base16.lua](https://github.com/NvChad/nvim-base16.lua/blob/master/lua/themes/onebright-base16.lua)
[wombat-base16.lua](https://github.com/NvChad/nvim-base16.lua/blob/master/lua/themes/wombat-base16.lua)

[2022-04-30 09:57] siduck commented on #56
@i3Cheese add a PR!

[2022-05-02 10:20] max397574 commented on #56
@siduck can be closed ig

[2022-05-02 10:22] max397574 commented on #53
just use treesitter playground to see which highlight groups are used and change one of them if it's "unusable" if you have two things with the same color

[2022-05-02 10:52] #56 closed

[2022-05-02 18:50] siduck commented on #48
https://nvchad.github.io/config/Custom%20config#override-specific-colors-in-themes

[2022-05-02 18:50] #48 closed

[2022-05-03 08:50] GreatestOfAllTimee opened #58 "Treesitter base46"
Does Nvchad really need [builtin Treesitter highlight](https://github.com/NvChad/base46/blob/master/lua/integrations/treesitter.lual)? I do not think so. Yes user can override their own highlights but it seems irrelevant, it just triggers problems. The current Nvchad/base46 with the builtin Treesitter highlights looks like less color than before. If user wanna change their TS highlight just using

[2022-05-03 08:53] siduck commented on #58
@GreatestOfAllTimee did you remove the treesitter integrations file and checked it?

[2022-05-03 08:54] GreatestOfAllTimee commented on #58
I did

[2022-05-03 08:56] siduck commented on #58
hmm I see, afaik treesitter is linked to most default highlights ( defined in syntax.lua ). So it looks good without treesitter integration right? just confirming @GreatestOfAllTimee

[2022-05-03 09:04] GreatestOfAllTimee commented on #58
I think user don't mind if Nvchad provide TS integration highlight but I guess you need to handle all the TS Query. if you just handle certain TS query than maybe it messed up something. Example they handle all TS default highlight https://github.com/sharpicx/dotfiles/blob/a962e92f7b7f8d205478f77685b7e47b85771980/.config/nvim/lua/config/colorschemes/catppuccin.lua.

[2022-05-03 09:11] GreatestOfAllTimee commented on #58
when dealing with colors (highlights) more difficult than write if statement in [Brainf**k](https://minond.xyz/brainfuck/)

[2022-05-03 09:12] siduck commented on #58
I wanted to add treesitter integration to make themes more colorful!

[2022-05-03 09:12] siduck commented on #58
but it did the opposite, i couldnt notice

[2022-05-03 09:12] siduck commented on #58
I wanted to make tour themes adhere to default themes

[2022-05-03 09:23] GreatestOfAllTimee commented on #58
I can't argue that, probably good idea for Nvchad feature. If it is, just handle all query highlights and in chadrc.lua user can disable default TS highlight OR override default hightlight

[2022-05-03 09:27] siduck commented on #58
if themes look colorful without treesitter integration then I will remove it but however each theme will add its own treesitter highlights ( not all ) but some so we could adhere to original themes or be better than original theme

I failed to replicate this theme even with treesitter bruh

https://gitlab.com/snakedye/chocolate/-/raw/master/desktop.png

[2022-05-03 09:44] GreatestOfAllTimee commented on #58
I don’t mind if you want to add a default TS highlight for each themes, but don’t you think it’s a waste of time? if this is really the case, I appreciate the action you take even though it may introduce new issues to users (need to avoid silly issues that we can't handle)

[2022-05-03 09:59] siduck commented on #58
I dont mean adding all of the ts highlight for each theme, for example the base16 convention makes it really difficult to color syntax like its able to use 7-9 colors only as the rest are just grey and black.

So for example if onedark's og theme's variable color is blue, but our's is white then if I had to override this thing then I would add ``` TSVariable = { fg = blue }```

But this approach i

[2022-05-03 11:02] siduck commented on #58
does treesitter integration look colorful after this? https://github.com/NvChad/base46/pull/59

[2022-05-03 11:47] GreatestOfAllTimee commented on #58
it does, I didn't release it was a simple mistake

![image](https://user-images.githubusercontent.com/73665622/166447244-5c0e757d-cdc7-494d-917d-8c49ff3c2e55.png)

[2022-05-03 11:47] #58 closed

[2022-05-07 13:35] siduck commented on #53
@primeapple  do you still face this issue?

[2022-05-11 03:33] pqhchan opened #66 "loop 'require' between base46.get_colors and hl_themes.xx ??"
got error 'loop or previous error loading module', it would be ok when I commented the line `M = require("base46").override_theme(M, "onedark")` in hl_themes.xx, so maybe a loop 'require' exists between base46.get_colors and hl_themes.xx ?
![image](https://user-images.githubusercontent.com/19503854/167764574-0eb3392a-74f2-44a3-8dfb-e32fbbeb1bee.png)

[2022-05-11 04:25] siduck commented on #66
i cant reproduce the error

[2022-05-11 04:25] siduck commented on #66
u need to comment out that line when  u add custom themes

[2022-05-11 05:23] primeapple commented on #53
Yes it is still broken. But thanks for the rewrite :)
Please leave this issue open, when I'll have more time, I'll look into TS Playground.

[2022-05-11 05:36] siduck commented on #53
do you have the issue with other configs?

[2022-05-11 05:37] siduck commented on #53
oh nvm i actually read the issue now lol, So this seems like a theme issue? i think chadracula isnt 100% dracula, you can send a PR for it!

[2022-05-11 19:35] primeapple commented on #53
This is not a theme issue. I have the problem with any other theme, the color of the text is the same as the one of the commands, in any theme I try.

[2022-05-12 00:10] siduck commented on #53
oh ._.

[2022-05-12 06:29] primeapple commented on #53
I made a video.

My guess is that we need to set a Treesitter Color for `text` probably in https://github.com/NvChad/base46/blob/master/lua/integrations/treesitter.lua
But I'm not really used to Treesitter styling.

https://user-images.githubusercontent.com/35628420/168005879-6e3bb0dc-fb32-4cae-b94c-476ef98496ea.mp4

[2022-05-12 08:31] siduck commented on #53
we already do that

![image](https://user-images.githubusercontent.com/59060246/168027586-a86d698f-b66c-4ee8-81e9-52c827f904e8.png)

[2022-05-12 08:43] primeapple commented on #53
I'm sorry. Please set a TreeSitter highlighting for `word` not `text`. Allthough text does not seem to work correctly, too, since it should be white in my video but it is orange?

[2022-05-12 11:25] siduck commented on #53
weird +_+

[2022-05-13 05:41] primeapple commented on #53
Can you try adding a seperate Color for `text`? Maybe it defaults to orange somehow.
I can try too, if you explain how to do this in a running neovim.

[2022-05-13 05:51] siduck commented on #53
cd .local/share/nvim/site/pack/packer/opt/base46/

 and in the lua dir u will see integrations/treesitter.lua

 Thats just a table of highlights with their fg/bg colors, try adding your thing there.

 for now hardcode the color i.e add orange hex color, if it works then we'll work on this

[2022-05-14 06:39] siduck opened #67 "Polish themes"
Use custom treesitter highlights for each theme

-  [x] onedark
-  [x] one_light
-  [ ] aquarium
-  [ ] blossom
-  [ ] catppuccin
-  [ ] chadtain
-  [ ] doomchad
-  [ ] everforest
-  [ ] gruvbox
-  [ ] gruvchad
-  [ ] jellybeans
-  [ ] kanagawa
-  [ ] monekai
-  [ ] mountain
-  [ ] nightlamp
-  [ ] nightowl
-  [ ] nord
-  [ ] onenord
-  [ ] palenight
-  [ ] pastelDark
-  [ ] radium
-  [ ] rxhyn
-

[2022-05-14 09:46] primeapple commented on #53
Holy ****.
This seems to be an issue of the latex parser of treesitter.
No idea why other colorschemes handle this better...

See this issue: https://github.com/latex-lsp/tree-sitter-latex/issues/44

I'll wait until they fix it, then we can close it.

[2022-05-14 10:19] LeonHeidelbach opened #68 "BUG: Latest commit breaks custom theme folder"
@siduck This commit  81209f4fec2409036b775c624a5b3e28fd7be272 breaks loading themes from the `custom.themes` folder.

![Screenshot_20220514_121850](https://user-images.githubusercontent.com/55194243/168421666-fc5b4ebc-43d2-430a-9ce4-fa361c54cf01.png)

[2022-05-14 10:33] siduck commented on #68
@LeonHeidelbach this doesnt work with whichkey for me

[code]

can u try it? it just prints C-\

[2022-05-14 10:37] siduck commented on #68
oops that change gives this

![image](https://user-images.githubusercontent.com/59060246/168422192-2690bd2b-754b-4924-b18d-4b87fe9b8df8.png)

[2022-05-14 10:38] siduck commented on #68
should be fixed now o_o

[2022-05-14 10:38] #68 closed

[2022-05-16 05:57] primeapple opened #70 "Error message `attempt to concatenate local 'name' (a nil value)"
Seems like yesterdays commit broke something.
I just `:PackerSynced` and got the following errors in NvChad:

[code]

I use `chadracula` as main theme, no further configs for `base46` or `feline.nvim`

[2022-05-16 06:32] primeapple commented on #70
To at least work in the moment, add
[code]
to your `chadrc.lua`, save, do `:PackerSync`, and select another colorscheme via `:colorscheme ...`
You may have to restart in between these steps.

[2022-05-16 07:15] siduck commented on #70
![image](https://user-images.githubusercontent.com/59060246/168538901-473803ea-4858-49a9-930f-8b52c58977e1.png)

works fine here, i cant produce the error

[2022-05-16 07:16] siduck commented on #70
please when you do packersync, make sure to do leader uu before it :/

[2022-05-16 08:32] #70 closed

[2022-05-16 08:33] siduck commented on #66
oh u wanted to require that file? its not posssible

[2022-05-16 08:37] siduck commented on #66
https://nvchad.github.io/config/Custom%20config#override-default-highlights

you can use base_30 colors without importing them

[2022-05-16 08:37] #66 closed

[2022-05-16 17:56] primeapple commented on #53
This is fixed

[2022-05-16 17:56] #53 closed

[2022-05-19 05:33] lixvbnet opened #77 "custom statusline is not loaded when toggle theme"
**Describe the bug**
Possible to load custom statusline when toggle/change theme?

I have following config in chadrc to use custom statusline:
[code]

but when toggle/change theme, it changes back to default statusline. Kind of weird, I have to quit NVIM and enter again to have my custom one.

**To Reproduce**
configure custom statusline, PackerSync
change theme.

**Expected behavior**
custom stat

[2022-05-20 01:23] siduck opened #72 "add nightfox theme"

[2022-05-20 01:25] siduck opened #73 "add gruvbox light theme"

[2022-05-20 01:26] siduck opened #74 "add rosepine theme"

[2022-05-20 01:31] siduck opened #75 "chocolate theme"
https://gitlab.com/snakedye/chocolate

[2022-05-20 02:52] songww opened #76 "Add ayu-theme"
https://github.com/Luxed/ayu-vim

[2022-05-20 02:53] siduck commented on #76
so many theme requests, please add a PR for them ;(

[2022-05-20 02:53] siduck commented on #76
takes me hours to make a theme perfect on nvchad, isnt a simple task

[2022-05-20 02:54] siduck commented on #76
i will improve one existing theme per day https://github.com/NvChad/base46/issues/67 so it can take more than a month

[2022-05-20 03:21] songww commented on #76
Are there any guidelines for making a theme? I tried all afternoon yesterday and made no progress.

[2022-05-20 03:22] songww commented on #76
If there is no time you can ignore my request.

[2022-05-20 03:28] siduck commented on #76
https://github.com/NvChad/base46#contribute-for-new-themes

[2022-05-20 06:12] bryant-the-coder commented on #76
@siduck u can just copy from mine for the ayu theme. https://github.com/bryant-the-coder/nvim-base16.lua/blob/master/lua/hl_themes/ayu-dark.lua

[2022-05-20 06:32] siduck commented on #76
cool but i need the 16 colors too + takes some time to polish the original theme

[2022-05-20 08:19] siduck commented on #77
moved the issue there as this is a theme issue

[2022-05-20 17:49] siduck commented on #77
@lixvbnet  make sure you use these highlight groups https://github.com/NvChad/base46/blob/master/lua/integrations/feline.lua or add your own

example https://github.com/NvChad/NvChad/blob/main/lua/plugins/configs/statusline.lua#L59

[2022-05-20 17:49] #77 closed

[2022-05-20 18:20] nullchilly opened #78 "Themes are too hard to see"
# Radium
![radium](https://user-images.githubusercontent.com/56817415/169582466-d8a5f860-d1c9-42a1-8478-ba9932d12a12.png)

- Top right window with C++ has too many red brackets and parentheses
- vim-matchup uses white bg...
- Can barely see Visual (Selected texts)

# Tokyonight
![tokyonight](https://user-images.githubusercontent.com/56817415/169582481-a6ce9990-4195-4b78-8f20-fb0d818be0e8.png)
- Br

[2022-05-21 00:36] siduck commented on #78
i will revert the change that made matchparen white, does this look good to you?

![image](https://user-images.githubusercontent.com/59060246/169627305-f3dc6891-e29b-480c-9d11-4d806781ef34.png)

[2022-05-21 00:46] bryant-the-coder commented on #76
i have it all in that repo :D

[2022-05-21 00:47] bryant-the-coder commented on #74
https://github.com/bryant-the-coder/nvim-base16.lua/blob/master/lua/hl_themes/rose_pine.lua
https://github.com/bryant-the-coder/nvim-base16.lua/blob/master/lua/themes/rose_pine-base16.lua

[2022-05-21 00:52] siduck commented on #74
Make a PR for this :)

[2022-05-21 00:53] bryant-the-coder commented on #74
i know buddy :) i can make rose_pine plus ayu. u can polish it sooner or later :)))

[2022-05-21 00:55] siduck commented on #74
yep made pr for those, I'll polish them at the time of merging itself

[2022-05-21 00:56] bryant-the-coder commented on #74
kk

[2022-05-21 04:47] nullchilly commented on #78
This is the old MatchParen highlight
[code]
I think `bg = theme.base02` (same as Visual is better)
![image](https://user-images.githubusercontent.com/56817415/169635780-6f6bfef9-ee44-418d-9902-6edea028cb79.png)

While it is true that darker looks better, it is still horrible on super dark theme.
On the left is radium theme, you can barely even see the visual selection. I will go crazy daily drivin

[2022-05-21 06:50] siduck commented on #78
@nullchilly It will take a month for me to polish all the themes https://github.com/NvChad/base46/issues/67 so you need to wait ._.

[2022-05-24 12:18] yingzhu146 opened #81 "Add onenord light theme"
Onenord provides a really nice light theme - by setting `vim.o.background = light` - would be great to add

[2022-05-24 13:39] lixvbnet opened #82 "Consistent gitsigns colors"
When switching themes, gitsigns colors are changing too. Some themes mark added lines green but others might be blue.

It would be great if you could make gitsigns colors more consistent regardless of theme choices, green for added lines, blue for updated, red or grey for deleted, for example. (Also what I’ve got used to :-)

[2022-05-24 13:40] siduck commented on #82
that depends on the theme! for example green is a dominant color in everforest then we use green in it but blue in onedark and so on, some light themes might not look good with blue gitsign colors as well

[2022-05-24 14:24] lixvbnet commented on #82
@siduck yeah I’m planning to do so. I haven’t read the docs for customizing themes, but now it’s definitely the time to do this :-)  thanks!

[2022-05-27 03:57] ThatOneOcto opened #83 "Add vscode theme"
Is there a vscode theme in nvchad? If there is can you send the lua file

[2022-05-31 19:23] #78 closed

[2022-06-04 15:45] tmaegel opened #84 "Wrong colors in diffmode"
The onedark theme of nvchad does not highlight colors correctly in diffview.
- The changed lines will not be color like in the second picture.
- And the used colors for DiffAdd, DiffChange, DiffDelete are not right colors (e.g. red) from the theme.

Started neovim diff mode with configured nvchad and onedark-theme.
![image](https://user-images.githubusercontent.com/9661381/172013168-c4f0e8f2-3c4d-

[2022-06-06 11:38] siduck commented on #76
done https://github.com/NvChad/base46/commit/1bc02bfb683aa14893acd28768ac5e50c64422f6

[2022-06-06 11:38] #76 closed

[2022-06-06 11:38] siduck commented on #74
https://github.com/NvChad/base46/commit/1bc02bfb683aa14893acd28768ac5e50c64422f6

[2022-06-06 11:38] #74 closed

[2022-06-07 01:49] #72 closed

[2022-06-07 01:49] #83 closed

[2022-06-07 01:50] #75 closed

[2022-06-07 01:50] #73 closed

[2022-06-07 01:50] siduck commented on #81
@yingzhu146 done

[2022-06-07 01:50] #81 closed

[2022-06-07 01:50] siduck commented on #83
@ThatOneOcto done

[2022-06-14 04:24] siduck commented on #84
https://github.com/NvChad/base46/blob/a8ac8880e2b3f962e225af4399a5d9ffa5701cde/lua/integrations/nvchad.lua#L49

[2022-06-14 17:23] Yato202010 opened #85 "lazy loading of highlight improper behaviour"
updating this plugin made highlight behave improperly

what i have
![image](https://user-images.githubusercontent.com/61349049/173637109-02fe6bac-2a07-42e7-a853-a467c62e35ca.png)
what it should be ( using base64 at commit "674d6bb" )
![image](https://user-images.githubusercontent.com/61349049/173637652-2b2cea96-fe02-4728-bd31-5d7b6a4c9e9c.png)

if it's related to the way my NVchad is setup
it woul

[2022-06-14 17:25] siduck commented on #85
@Yato202010 how do you reproduce this issue? nvim filename?

[2022-06-14 17:32] Yato202010 commented on #85
i just updated the plugin and it broke the highlight for every filetype i'm on NVchad commit d42ffe1 because the lastest didn't work ( it complain about alpha ) reverting the plugin to a older version ( 674d6bb ) fixed the problem

[2022-06-14 17:37] siduck commented on #85
@Yato202010 dont revert , update nvchad again and do packersync, reopen nvim. I fixed alpha recently

[2022-06-14 17:38] Yato202010 commented on #85
@siduck ok i just see the fix for alpha with the lasted NVchad + the lasted base46 it work but if nvchad is older it broke and require a older version of base46

[2022-06-14 17:41] Yato202010 commented on #85
i was not using outdated i was on the last commit which worked it was before you pushed the last NVchad commit it now it work with both lasted i will close this now

[2022-06-14 17:43] siduck commented on #85
oh my bad I misread. Things are gonna get stable after v2.0, sorry for all the breaking changes ;(

[2022-06-16 05:48] CaptainBeidou opened #86 "Error running config for base46"
Got the following error after doing :PackerSync
![001](https://user-images.githubusercontent.com/101026247/174000322-ab33e756-c73b-4906-a193-49be0a6bddfb.jpg)

[2022-06-16 06:23] siduck commented on #86
try doing a clean install

[2022-06-16 09:59] redirect11 commented on #86
I have the same problem. What do you mean by try doing a clean install?

[2022-06-16 11:07] siduck commented on #86
clean install nvchad

[2022-06-16 16:10] CaptainBeidou commented on #86
Thanks, that works. Remove the nvim configuration directories
`rm -rf ~/.config/nvim`
`rm -rf ~/.local/share/nvim`
`rm -rf ~/.cache/nvim`
And then re-install [nvchad](https://nvchad.github.io/getting-started/setup)

[2022-06-16 16:10] #86 closed

[2022-06-17 02:49] JulesNP opened #87 "Overriding one part of styling for highlight group clears rest of the style"
Since the update a few days ago, comments no longer show in the correct color when I first load NvChad, but display correctly if I switch the theme and then change it back.

I have an hl_override set up in my chadrc.lua to make comments italic. This never affected the color of comments before the update, but now it seems if there is an override of any aspect, it's clearing all the styles associate

[2022-06-17 05:27] siduck commented on #87
i will look onto this today, thx for reporting

[2022-06-18 04:25] #87 closed

[2022-06-18 10:14] #84 closed

[2022-06-26 11:55] phdhary opened #89 "Catppuccin Latte"
hey man love all your neovim's work!
I wonder if **Catppuccin Latte** theme (which is a light variant out of 4) will be added in the future. I've been trying to recreate them by referencing their palletes and translate it to base 46 but can't seem to get it right. You can ignore this tho if it's a lot of work.

[2022-06-30 01:22] siduck commented on #89
i'll try

[2022-06-30 04:03] siduck commented on #89
done https://github.com/NvChad/base46/commit/b24bc13dbe6a6fb1bb98ad718997794c2fcb1aee

[2022-06-30 04:03] #89 closed

[2022-07-11 04:04] notprash opened #91 "Tokyonight Storm"
I was wondering if tokyonight could have storm variant?

[2022-07-11 04:37] siduck commented on #91
send a PR

[2022-07-11 08:10] notprash commented on #91
I don't proper color palette, I have checked the tokyonight.nvim scheme but do not seem to understand the tokyonight storm colorscheme

[2022-08-01 16:53] bluexnine opened #93 "Customize single cursor color"
I am trying to change the cursor block color to always be red. Currently on my set up the cursor color change based on the syntax highlighting.  Is there a way to override the cursor block color. I have tried the following code but it did not work. I am looking for a more elegant solution that would override this in chadrc.lua.

<path to plugin>/base46/integrations/defaults.lua

`
   Cursor = {

[2022-08-01 16:57] siduck commented on #93
https://nvchad.github.io/config/theming#override-default-highlight-groups

[2022-08-01 16:57] #93 closed

[2022-08-06 05:37] #91 closed

[2022-08-13 04:08] Blxckmage opened #95 "NeoSolarized theme"
can we have this theme on base46? 🐱 https://github.com/overcache/NeoSolarized

[2022-08-13 04:14] siduck commented on #95
sure but it will take time

[2022-08-14 06:14] musjj opened #97 "oxocarbon theme"
It would be nice to have this theme in base64:

https://github.com/shaunsingh/oxocarbon.nvim (written in rust)
https://github.com/B4mbus/oxocarbon-lua.nvim (lua port)

![nyoombottomtext](https://user-images.githubusercontent.com/71196912/181908773-f7d7a700-d60d-47d2-a3db-3a2bbc6cd1aa.png)

[2022-08-14 06:38] Blxckmage commented on #95
okayy!! i cant wait ^^

[2022-08-14 06:45] siduck commented on #97
yes, but it'll take a while!

[2022-08-14 17:18] gmmoose20 commented on #95
noice!! me too 🙌

[2022-08-15 08:04] Pikachuuu-codes opened #98 "bearded arc theme"
https://github.com/BeardedBear/bearded-theme/

hi @siduck, great work you did there on nvchad. appreciate it.

i have one favor, can you port bearded theme arc? it would be great if you port it :)

[2022-08-15 09:36] siduck commented on #98
@Pikachuuu-codes yes! but it will take a month or two :p

[2022-08-15 09:36] siduck commented on #98
or you can check this https://github.com/NvChad/base46#contribute-for-new-themes , I'll improve your PR

[2022-08-15 13:13] Pikachuuu-codes commented on #98
hey thanks @siduck , i am fairly new to nvchad and this neovim ecosystem. and plus i have exams soon. so i wont be having the time to port. sorry !!

[2022-08-24 08:46] 012e opened #99 "Very hard to see selected comment gruvbox theme"
It's just almost impossible to see what's selected 🫠.
![2022-08-24-152903_1003x524_scrot](https://user-images.githubusercontent.com/98327371/186370762-a3c94f50-6995-426d-b6e9-0d09fd57b4b4.png)

[2022-08-24 09:19] #99 closed

[2022-08-26 02:41] shashanktomar opened #100 "Need suggestion for contributing more integrations"
Hi There,

I am interested in contributing more integrations here. I can start with highlight groups `nvim-notify` and `lsp-saga` plugins. Just want to understand if there are any issues with going forward.

Are you happy with these integrations being added here even though the plugins are not added to nvchad or do you prefer users adding them as UI overrides.

[2022-08-26 02:46] siduck commented on #100
yes I am happy with you adding plugin integrations

[2022-08-26 02:47] siduck commented on #100
and you should know that those integrations will not be loaded automatically. Users can load them by just

[code]

This is just an example

[2022-08-26 02:47] #100 closed

[2022-09-09 17:05] JxBP opened #103 "vscode_dark theme doesn't match"
<details>
<summary>Rust</summary>

 VSCode (Rust)

 ![code](https://user-images.githubusercontent.com/61627369/189401894-68382190-61c2-47c5-bb57-a1595bb13a21.png)

 Neovim (Rust)

 ![neovim](https://user-images.githubusercontent.com/61627369/189401900-7ca26bde-0919-420b-ba6f-4ad0319e6b43.png)
</details>

<details>
<summary>Lua</summary>

VSCode (Lua)

![code_chadrc](https://user-images.githubuserc

[2022-09-09 17:39] siduck commented on #103
you sure that you have tsparsers of rust and c installed?

[2022-09-09 18:03] JxBP commented on #103
I installed those now but it's still not quite the same as VSCode. Lua (for which the parser was already installed by NvChad or something apparently) also as you can see in the previous screenshots.

![neovim_c_ts](https://user-images.githubusercontent.com/61627369/189415377-bfbb12f0-902f-4308-adea-67a3736221b4.png)
![neovim_rust_ts](https://user-images.githubusercontent.com/61627369/189415379-168

[2022-09-10 00:07] siduck commented on #103
hmm yea its not the same as vscode one, i'll see

[2022-09-12 17:47] ritchielrez commented on #97
Best thing would be to port this theme by yourself. It may feel difficult at start, but reading `README` should help you through the journey.

[2022-09-26 11:57] mochaaP opened #109 "[Feature] Customizable theme intergrations / Opt-in atom style cmp flyout"
**Is your feature request related to a problem? Please describe.**
![screenshot](https://user-images.githubusercontent.com/7228095/173782308-d28623d9-078d-4d15-a5e1-075899fb41ab.png)

**Describe the solution you'd like**
Add extra code logic for [base46](https://github.com/NvChad/base46/blob/master/lua/base46/integrations/cmp.lua)

**Describe alternatives you've considered**
- A) Let base46 integr

[2022-09-27 22:02] ywpkwon opened #110 "question about colortheme (e.g gruvbox)"
Using NvCahd's theme selection, I tried setting `gruvbox`.
Here is what I got from NvChad.
![image](https://user-images.githubusercontent.com/18429284/192643086-ad017d87-9bfb-4809-8a5e-f9c8c33cabe4.png)

Here is the screenshot from the original `gruvbox` github.
(https://github.com/morhetz/gruvbox)
![image](https://user-images.githubusercontent.com/18429284/192642411-d5c46789-fe6b-452f-ad41-7488ac

[2022-10-01 00:16] musjj opened #111 "What happened to the Everblush theme?"
There was an everblush theme here, but it seems to be gone. Any reason why it was deleted?
This is apparently the commit where it was deleted: https://github.com/NvChad/base46/commit/528f9d02f0888e3a0b61e52bf13a2a78af938d88

[2022-10-01 00:29] siduck commented on #111
@musjj it was deleted for some personal reasons

[2022-10-01 00:29] #111 closed

[2022-10-02 13:29] Dereklee0312 opened #112 "Add Dark Horizon colorscheme"
# Feature
I would like to add the Dark Horizon colorscheme to NvChad's base46 as it is quite different from what is currently available, and would probably be used by quite a few.

It has a high contrast and works well with dark backgrounds and I'm guessing transparent ones as well.

The github repo can be found on [Dark Horizon](https://github.com/mcagampan/dark-horizon/blob/master/themes/Dark%20

[2022-10-02 14:25] siduck commented on #112
@Dereklee0312 does this have a base16 format? :thinking:

[2022-10-02 14:29] Dereklee0312 commented on #112
Not sure about that, I'm completely new with the whole colorscheme and highlighting groups shenanigans. I'll try to figure it out whenever possible.

[2022-10-04 10:36] siduck commented on #109
@mochaaP i'll just make an option so it gets easy for users

[code]

[2022-10-04 10:40] mochaaP commented on #109
Thank you! :D

[2022-10-04 10:44] siduck commented on #97
sorry for late reply! I will port it this friday

[2022-10-04 10:45] siduck commented on #95
hi guys, dont we already have solarized dark theme?

[2022-10-05 00:05] siduck opened #114 "add ayu-light theme"
![image](https://user-images.githubusercontent.com/59060246/193952250-b7579424-7b64-4a97-831d-48f2f981adc2.png)

[2022-10-05 00:16] siduck opened #115 "add oceanic-next theme"
https://github.com/mhartington/oceanic-next

[2022-10-07 00:40] Blxckmage commented on #95
ah i forgot to close it, sorry siduck
and thanks for the solarized theme, have a good day<3

[2022-10-07 00:40] #95 closed

[2022-10-07 01:15] #112 closed

[2022-10-07 06:41] Dereklee0312 commented on #115
Hi, I'd like to work on that, assign it to me please.

[2022-10-07 06:42] Dereklee0312 commented on #114
Hi, I'd like to work on that, please assign it to me.

[2022-10-08 03:49] kavinvalli opened #117 "Falcon Theme"
Hi, I'm not entirely sure how to port this but I recently came across [fenetikm/falcon](https://github.com/fenetikm/falcon) and it looks like something I'd want to try out but I'm not able to use an external theme in NVChad. Would love if someone could help me port this to base46!

![image](https://user-images.githubusercontent.com/41034356/194686777-dbf120dd-6530-4f4f-8308-74f561ffd589.png)

[2022-10-08 03:59] siduck commented on #117
hi there, check the contribution guide https://github.com/NvChad/base46#contribute-for-new-themes

Just get all the hex colors from falcon theme and then add them in your PORT & PR and I'll improve the PR if it needs changes.

[2022-10-08 06:16] kavinvalli commented on #117
It's really confusing since I haven't worked with colorschemes a lot and the falcon palette is pretty confusing. Would love if someone could help with this!

Also, I did try just disabling Nvchad/base46 and then setting `colorscheme falcon` but it turns out that plugins like nvim-tree, telescope don't get updated with the new colorscheme.
Falcon already has support for them, so I don't see any any

[2022-10-08 06:23] siduck commented on #117
@kavinvalli load falcon theme after base64 then.

I know falcon already has support for nvimtree etc but not our tabufline, statusline and many other highlight groups. Dont worry I will port the theme tomorrow for u!

[2022-10-08 12:45] kavinvalli commented on #117
That would be great @siduck. Thank you!

[2022-10-09 19:06] kavinvalli commented on #117
@siduck Were you able to figure out something?

[2022-10-10 01:57] siduck commented on #117
oh sorry i was busy yesterday, will make the theme today

[2022-10-10 06:10] kavinvalli commented on #117
No worries @siduck! Looking forward to check it out!

[2022-10-10 15:03] kavinvalli commented on #117
@siduck How is this looking?

[2022-10-11 04:42] siduck commented on #117
@kavinvalli put this under `custom/themes/falcon.lua` and select it from theme switcher, let me know if you need any changes

[code]

[2022-10-11 15:03] #115 closed

[2022-10-12 12:02] kavinvalli commented on #117
@siduck seems to be pretty good!

[2022-10-12 12:44] siduck commented on #117
pushed it to the repo! enjoy :D

[2022-10-15 13:46] nanomoeamezao opened #120 "monochrome theme"
Id like a prot of https://github.com/kdheepak/monochrome.nvim to base46.

Preview i guess:
![image](https://user-images.githubusercontent.com/1780639/195989772-5f24d67b-9344-426d-be76-0d400b0ab670.png)

[2022-10-17 16:20] 0x736d opened #124 "typo in one of the treesitter hl group"
https://github.com/NvChad/base46/blob/c57f97a2a2cc794d9e3f06092638ab35bd28217b/lua/base46/integrations/treesitter.lua#L81

should be `@parameter`

[2022-10-17 16:29] #124 closed

[2022-10-18 09:47] JamyGolden opened #126 "Using templates to automatically generate themes"
Would it be possible to use templates for themes to automatically generate the themes from https://github.com/tinted-theming/base16-schemes (the way base16 template repositories use the base16-builders and templates) instead of manually creating and maintaining each theme? (I'm asking this as someone who maintains multiple `base16-*` repositories, so I could contribute to this change if you needed

[2022-10-18 11:55] siduck commented on #126
@JamyGolden its not possible, the themes have to be tested tons of times locally before releasing.

And the values you see here are just rough values, they differ from theme to theme

![image](https://user-images.githubusercontent.com/59060246/196422635-7b49787a-3564-43fa-9cdf-535983672b90.png)

[2022-10-18 12:34] bryant-the-coder commented on #126
i think we can like hv a website where we insert the values and it generates a template?

[2022-10-18 14:20] JamyGolden commented on #126
@siduck ah ok yeah the theme-to-theme curation definitely makes it a problem to auto generate.

@bryant-the-coder I was wondering if it would be possible to use the [base16-schemes](https://github.com/tinted-theming/base16-schemes) and a [base16-builder](https://github.com/tinted-theming/base16-builder-go) to generate your themes instead of needing to do it manually, like here for example: https:/

[2022-10-18 14:20] #126 closed

[2022-10-20 00:21] siduck opened #127 "penumbra theme"
https://github.com/nealmckee/penumbra

light and dark variant will be added

[2022-10-20 00:56] #114 closed

[2022-10-23 23:26] lucario387 opened #129 "highlights for lazyloaded hlgroups aren't done properly"
Basically, if I override some hlgroups of say, treesitter, inside M.ui of chadrc, then load treesitter afterwards, then the hlgroups inside `ui.override` and `ui.add` will be overridden by the defaults.

[2022-10-23 23:56] #129 closed

[2022-10-24 00:28] siduck commented on #129
@lucario387 why closed this issue?

[2022-10-24 02:22] lucario387 commented on #129
Haven't tested properly on why, and when such triggers happened, will open/reopen once I can write more meaningful issues @siduck

[2022-10-25 03:23] kavinvalli commented on #117
Hey @siduck, I dont know if this is an issue but in react, the highlighting is not very distinctive.
![Screenshot 2022-10-25 at 08 53 05](https://user-images.githubusercontent.com/41034356/197674936-bfb79983-f0e3-4685-872d-a09ef0dacd10.png)

[2022-10-25 03:24] siduck commented on #117
Hi @kavinvalli , install tsx and typescript tsparser

[2022-10-25 07:45] kavinvalli commented on #117
It seemed to start working after i used an emmet snippet once

[2022-11-11 02:48] siduck commented on #120
merged in dev branch.

[2022-11-11 14:31] siduck commented on #98
@Pikachuuu-codes i know i am late, this theme has been added in dev branch

[2022-11-11 14:31] #98 closed

[2022-11-12 14:10] siduck commented on #127
ok added it in dev branch.

[2022-11-12 14:10] #127 closed

[2022-11-13 00:36] siduck commented on #103
![image](https://user-images.githubusercontent.com/59060246/201499916-9b270a0c-a9e9-44ad-b42e-80acf82a9bf3.png)

[2022-11-13 00:46] siduck commented on #103
@JxBP do a packersync and check. And do know that we can match to vscode's theme 100%  cuz of treesitter

[2022-11-13 01:43] #110 closed

[2022-11-13 01:43] #103 closed

[2022-11-13 07:50] JxBP commented on #103
I honestly already forgot about this issue and moved to another theme already.
Thank you for improving it though!

[2022-11-13 09:52] jfvillablanca opened #138 "packer.nvim fails to update base46"
Hello, I was updating and adding new plugins but base46 keeps failing to update. Retrying yields the same fail message.

`✗  Failed to update NvChad/base46`

![Screenshot from 2022-11-13 17-41-12](https://user-images.githubusercontent.com/31008330/201515814-c3afa3ea-2dfd-4aea-be90-28ad63fe09f0.png)

I'm not sure how to reproduce this issue or if this is a packer.nvim issue.

[2022-11-13 10:43] siduck commented on #138
re-install that plugin, its a packer.nvim issue. WHenever there's a forced push on the plugin repo, packer complains about this issue i think.

so just `rm -rf ~/.local/share/nvim/site/pack/packer/start/base46` and reopen nvim , do packersync

[2022-11-13 10:43] #138 closed, assigned to nobody

[2022-11-14 12:57] jfvillablanca commented on #138
Thank you!

[2022-11-15 13:06] Tinkerbells opened #139 "Strange theme colors preview in .tsx file"
**Description**
I used npx create-t3-app command for initialize my project and found strange theme colors preview in _app.tsx file

**Desktop**

 - Arch linux
 - st terminal
 - NVIM v0.8.0-v0.8.0
  Build type: Release

**Screenshots**
![2022-11-15-16:01:22](https://user-images.githubusercontent.com/55500372/201926000-a1756c73-6bc7-44c5-8082-9afaa956e4f4.png)

**Specially this thing**
![2022-11-15-

[2022-11-15 13:07] siduck commented on #139
do you have tsx and typescript tsparsers installed?

[2022-11-15 13:15] Tinkerbells commented on #139
Do you mean treesitter parser. If so, yes I have typescript parser installed

[2022-11-15 13:19] Tinkerbells commented on #139
I'm sorry just installed tsx parser and everything looks fine. But how I can do this automatically when reinstall config for example?

[2022-11-15 13:25] siduck commented on #139
@Tinkerbells take a look at our example_config repo, all you need to do is override treesitter's config section ( the ensure_installed table ) i hope you know how to do that.

[2022-11-15 13:25] #139 closed, assigned to nobody

[2022-11-18 09:47] fundon opened #140 "Melange Theme"
https://github.com/savq/melange

[2022-11-19 06:14] siduck opened #141 "add everblush theme back"

[2022-11-19 08:01] bryant-the-coder commented on #141
letss gooo

[2022-11-20 11:58] #141 closed, assigned to nobody

[2022-11-20 15:59] #140 closed, assigned to siduck

[2022-11-21 15:39] #109 closed

[2022-11-21 15:39] siduck commented on #109
@mochaaP test nvchad dev branch and check default_config.lua's cmp section

[2022-11-22 08:38] denis631 opened #143 "add nvim-tundra theme"
Nvim-tundra is a popular nvim theme and having it in NvChad would be awesome.
nvim-tundra [link](https://github.com/sam4llis/nvim-tundra)

[2022-11-22 15:04] h4r1337 opened #146 "Disable syntax error highlight"
There is a red highlight above the code when there's a syntax error. It happens as we type... before even completing the code and it's annoying.
Is there any way to disable this highlight feature?
![image](https://user-images.githubusercontent.com/72344536/203348167-cb6f0cdd-daea-427d-9dda-a634c2aa36ac.png)

[2022-11-23 00:29] siduck commented on #146
unable to produce and not much info provided so closing this

[2022-11-23 16:16] kavinvalli commented on #117
@siduck any idea why this might be happening. tsx and typescript tsparser are installed already for me. It just seems to start working after runnig an emmet snippet once.

[2022-11-24 00:12] siduck commented on #117
so it works right now or no?

[2022-11-24 05:14] kavinvalli commented on #117
Yup, it works @siduck ! Sorry for the inconvenience.

[2022-11-24 05:59] #117 closed

[2022-11-24 06:37] kaonashihirota opened #144 "Lack of highlight group in diff mode"
Enter diff mode
[code]
The result
![image](https://user-images.githubusercontent.com/47310453/203711234-3919fa35-7fdf-4044-89cf-883a7769ed70.png)

[2022-11-24 09:28] kaonashihirota commented on #144
There is a theme plugin that might provide some clues about the issue.
[https://github.com/shaunsingh/nord.nvim/blob/993a69aad81c5d82106e1a7dc553136c33c1cabe/lua/nord/theme.lua#L220](url)

[2022-11-24 12:31] bryant-the-coder opened #145 "add Aurora theme"
https://github.com/ray-x/aurora

[2022-11-27 03:20] siduck commented on #144
@kahirota the link doesnt work

[2022-11-27 03:26] #144 closed, assigned to nobody

[2022-11-28 14:51] siduck commented on #143
i will port that theme this friday

[2022-11-28 14:51] siduck commented on #145
i will port that theme this saturday